<div class="section">
    <div class="container">
        <div class="columns">
            <%= render 'aside-menu'  %>
            <%= render 'feed', posts: @posts %>
        </div>
    </div>
</div>